<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <h1><%= @restaurant.name %></h1>

      <h2>Chef:</h2>
      <h3><%= @chef_name %></h3>

      <br>

      <h4>Bio:</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda iusto sapiente vel at quam. Ex nihil reiciendis aliquid reprehenderit quia officia deleniti, accusantium aut mollitia libero blanditiis officiis laborum soluta!</p>

    </div>
  </div>
</div>
